@font-face {
    font-family: 'Cafe24Lovingu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Cafe24Lovingu';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    min-height: 100vh;
    text-align: center;
    position: relative;
}
#background {
    position: fixed;
    top : 0; 
    left : 0;
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    z-index:-1;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.question {
    position: absolute;
    color: #C10F86;
    font-size: 30px;
    margin-bottom: 250px;
    font-weight: 500;
}
.title {
    color: #C10F86;
    font-size: 130px;
    font-weight: bold;
    margin-bottom:200px;
    font-style: italic;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button {
    width: 600px;
    padding: 20px;
    border: none;
    border-radius: 60px;
    background-color: #FA8ECF;
    color: #C10F86;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;
}

button:hover {
    background-color: #ff348f;
}